<!DOCTYPE html>
<html>
     <head>
          <title>My Webpage</title>
          <style>
               .bookTitle {
                    background-color: #77dd11;
                    padding: 20px;
                    margin: 10px;
               }

               body {
                    padding-bottom: 50px;
                    }
          </style>

     <script>

          // Start with first bookTitle
          let counter = 1;

          // Load bookTitles 20 at a time
          const quantity = 20;

          // When DOM loads, render the first 20 bookTitlies
          document.addEventListerner('DOMContentLoaded', load());

          // Load next set of booktitles.
          function load() {

          // If scrolled to bottom, load the next
          // This had to be moved from global to inside this function
          //   to be recognized. Scrolling is not yet working
          //   properly. Sometime 20 bookTitles, sometimes a lot more
               window.onscroll = () => {
                 if (window.innerHeight + window.scrollY >= document.body.offsetHeight)
                         load();
                     };

          //    Set start and end bookTitles, and update counter
                const start = counter;
                const end = start + quantity - 1;
                counter = end + 1;

          //     Open new request to get new bookTitle
                const request = new XMLHttpRequest();
                request.open('POST', '/bookTitles');
                request.onload = () => {
                    const data = JSON.parse(request.responseText);
                    data.forEach(add_bookTitle);
                };

          //     Add start and end points to request data
                const data = new FormData();
                data.append('start', start);
                data.append('end', end);

          //    Send request
                request.send(data);
           };
          //
          function add_bookTitle(contents) {

          //    Creat new bookTitle
                const bookTitle = document.createElement('div');
                bookTitle.className = 'bookTitle';
                bookTitle.innerHTML = contents;


          //    Add book title to DOM.
                document.querySelector("#bookTitles").style.backgroundColor = "red";
                document.querySelector("#bookTitles").append(bookTitle);
           };

     </script>

</head>
<body>

     <div id="bookTitles">
     </div>

</body>

</html>
